#titleHeader {
    font-weight: bold;
    font-size: larger;
}

.mainContainer {
    display: grid ;
    grid-template-columns: 23% 25% 25% 23%;
    grid-template-rows: 100px 150px 400px 100px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;

  }

  .item-header {
    grid-column: 1/5;
    grid-row: 1;
    background-color: ghostwhite;
  }
  .item-favorite {
    grid-column: 1/5;
    grid-row: 2;
  }
  .item-filter {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item-list {
    grid-column: 2/5;
    grid-row: 3/5;
    overflow: scroll;
  }
  
 
  /*
  .leftSide {
    grid-column: 1/2;
    grid-row: 3/4;
  }*/
  /*
  .singleRow .rightSide {
  
    float: right;
    
  }
  */
  .favPoster{
      float: left;
  }
  .favPoster:hover .removeButton{ 
      background-color:red;
      display: inline;
  }

  .item-header .aboutButton{
    float: right;
    
  }
  button:hover{
    cursor: pointer;
  }
 #homeButton{
     font-size: 48px;
 }
 .favPoster .removeButton{
     display:none;
 }
 .container {
    display:grid;
    grid-template-columns: 23% 25% 25% 23%;
    grid-template-rows: 100px 150px 400px 400px;
    gap: 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
 }
 .container div .item-movie-left {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .container div .item-movie-right {
    grid-column: 3/5;
    grid-row: 3/4;
  }